#supprimer_creation {
    color: red;
}

#modifier_creation {
    color: #ffd043;
}

@media screen and (max-width: 600px) {

    #titre, #description {
        font-size: 100%;
    }
    table tbody td {
        text-align: center;
    }

    table tbody td img {
        height: 100%; 
        width: 100%;
    }
  }


  #illustration_display {
    width: 70%;
    display: block;
    margin: 10px auto;
    border-radius: 10%;
}

.illustration {
    text-align: center;
}